.header {
  background-color: #52F4BC;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

.header img {
  display: block;
}

.searchInput {
  min-width: 20vw;
  border-radius: 45px;
  border: none;
  padding: 5px 10px;
}