.avatarContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconContainer {
  color: #092A56;
  transition: all 0.2s ease;
}

.iconContainer:hover {
  color: #ffffff;
  transform: scale(1.05);
  cursor: pointer;
}

.profileMenu {
  background: white;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  overflow: hidden;
}

.profileMenu ul {
  padding: 0.5rem 0;
}

.profileMenu a {
  color: #2d3748 !important;
  padding: 0.75rem 1.5rem;
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
}

.profileMenu a:hover {
  background: #52F4BC;
  color: white !important;
  padding-left: 2rem;
}